@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    background: #222;
    justify-content: center;
    align-items: center;
}

.app-container{
    width: 500px ;
    text-align: center;
    height: 200px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}

.title{
    font-size: 40px;
    gap: 5px;
    margin-bottom: 7px;
    font-weight: 600;color: orange;
}
.time{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 7px;
}
.date{
    font-weight: 400;
    font-size: 18px;
}